Title: Cake.Bower
---
<h1>What is it?</h1>
Cake.Bower is a set of aliases for Cake to help with running Bower scripts as part of a build.

<h1>Scope</h1>
<p>Bower itself is a deprecated tool and recommends you use Yarn & Webpack for new projects.</p> 
<p>The primary goal of Cake.Bower is to provide a means of running bower commands using Cake whilst Bower continues to be maintained.
    It supports the majority of commands and pull requests are welcome for the remainder.</p>